<footer>
    <div class="card text-white bg-dark">
        <div class="card-body">
            <h5 class="card-title">Did you know?</h5>
            <p class="card-text">{{randomFact}}</p>
            <a href="https://www.thefactsite.com/1000-interesting-facts/" target="_blank" class="btn btn-pink">Check it
                out
                here!</a>
        </div>
    </div>
    <hr />
    <p class="m-2">Created by: {{name}}</p>
</footer>