h1 {
  color: #1a90e4;
}

html,
body {
  background-color: #272727;
  max-width: 75vw;
  margin: 0 auto;
  padding: 0 16px;
}

p {
  color: white;
}

.btn-blue {
  color: white;
  background-color: #1a90e4;
}
